.gift {
  display: flex;
  /* margin: 2.5rem 0; */
  justify-content: space-between;
}

.gift-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  height: 100%;
  width: 20rem;
}

.gift-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-shadow {
  /* Required properties */
  position: relative;
  background: white;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
}

/* 
* Provided by the Generator. 
* This is what creates the shadow.
*/
.card-shadow:before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #0cca4a 0%, #731dd8 100%);
  transform: translate3d(0px, 15px, 0) scale(0.95);
  filter: blur(14px);
  opacity: 0.7;
  transition: opacity 0.3s;
}

/* 
* Provided by the Generator.
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
/* .card-shadow::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
} */
