.loading {
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: max(100vh, 100%);
  width: 100%;
  background-color: rgba(204, 204, 204, 0.5);
}
