.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 7rem;
}

.content {
  width: 60rem;
}

.add-icon {
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
