.container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  margin-top: 2rem;
}

.content {
  width: 60rem;
}

.add-icon {
  /* display: flex;
  justify-content: flex-end; */
  bottom: 3rem;
  right: 5rem;
  position: fixed;
  z-index: 2;
}

@media (max-width: 700px) {
  .add-icon {
    bottom: 1rem;
    right: 1rem;
  }
}
