.search-container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin: 0 2rem;
}

.search {
  position: relative;
}

@media (max-width: 700px) {
  .search-container {
    margin: 0 2rem 0.5rem 2rem;
    /* margin: 0 2rem; */
  }
}
