.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.submit {
  margin: 3rem 0rem 2rem;
}

.signIn__container {
  width: 100vw;
  background: rgb(115, 29, 216);
  background: linear-gradient(
    90deg,
    rgba(115, 29, 216, 0.4598214285714286) 0%,
    rgba(12, 202, 74, 0.5494572829131652) 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.signInForm {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  margin: 70px 20px !important;
  margin-top: 120px !important;
}

@media screen and (max-width: 960px) {
  .signInForm {
    max-width: 325px !important;
    margin-top: 120px !important;
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 370px) {
  .SignIn__container {
    height: 110vh;
  }
  .signInForm {
    max-width: 325px !important;
    margin-top: 130px !important;
    margin-bottom: 60px !important;
  }
}
